@model MyGymSystem.Models.Aboutuspage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aboutuspage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Missionstatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Missionstatement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visionstatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visionstatement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teamdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teamdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagepath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastupdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastupdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updatedbyadmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updatedbyadmin.Adminid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Aboutuspageid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
