@model MyGymSystem.Join.DetailsTrainerWithUserLogin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/Images/"+Model.trainer.Imagepath)" width="100" height="100" />
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trainer.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trainer.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trainer.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trainer.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trainer.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trainer.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trainer.Phonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trainer.Phonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trainer.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trainer.Specialization)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userlogin.Username)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userlogin.Username)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userlogin.Passwordhash)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userlogin.Passwordhash)
        </dd>


      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewData["Tid"]">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
